[submodule "packages/vuepress-theme-nine"]
	path = packages/vuepress-theme-nine
	url = https://github.com/nine-theme/vuepress-theme-nine.git
[submodule "packages/@nine-theme/vuepress-plugin-ga"]
	path = packages/@nine-theme/vuepress-plugin-ga
	url = https://github.com/nine-theme/vuepress-plugin-ga.git
[submodule "packages/@nine-theme/vuepress-plugin-fontawesome"]
	path = packages/@nine-theme/vuepress-plugin-fontawesome
	url = https://github.com/nine-theme/vuepress-plugin-fontawesome.git
[submodule "packages/@nine-theme/vuepress-plugin-loading-page"]
	path = packages/@nine-theme/vuepress-plugin-loading-page
	url = https://github.com/nine-theme/vuepress-plugin-loading-page.git
[submodule "packages/@nine-theme/vuepress-plugin-back-to-top"]
	path = packages/@nine-theme/vuepress-plugin-back-to-top
	url = https://github.com/nine-theme/vuepress-plugin-back-to-top.git
[submodule "packages/@nine-theme/vuepress-plugin-pagation"]
	path = packages/@nine-theme/vuepress-plugin-pagation
	url = https://github.com/nine-theme/vuepress-plugin-pagation.git
[submodule "packages/@nine-theme/vuepress-plugin-screenfull"]
	path = packages/@nine-theme/vuepress-plugin-screenfull
	url = https://github.com/nine-theme/vuepress-plugin-screenfull.git
[submodule "packages/@nine-theme/vuepress-plugin-comments"]
	path = packages/@nine-theme/vuepress-plugin-comments
	url = https://github.com/nine-theme/vuepress-plugin-comments.git
